/*------------------------------------------------------*/
.pv-hint-search .symbol button {
    background-color: #bbb !important;
}
/*------------------------------------------------------*/
.popover-title {
    background-color: #bbb !important;
}
/*------------------------------------------------------*/
.rehau-grid-mode {
    margin-left: 0 !important;
    overflow: hidden;
    width: 102% !important;
}
.rehau-grid-mode .tab-content {
    padding-top: 1px;
}
.subcategory {
    margin-left: 0 !important;
    overflow: hidden;
    width: 102% !important;
}
/*------------------------------------------------------*/
.subcategory .masonry-grid-item,
.subcategory .masonry-grid-item:nth-child(4n) {
    margin-right: 20px !important;
}
.rehau-grid-mode .masonry-grid-item,
.rehau-grid-mode .masonry-grid-item:nth-child(4n) {
    margin-right: 20px !important;
}
/*------------------------------------------------------*/

@media (max-width: 762px) {
    .subcategory {
        width: 100% !important;
    }
    .rehau-grid-mode {
        width: 100% !important;
    }
}
