body {
    background-color: #475036;
    background-image: url("fon1.gif");
    font-family: 'Ledger', serif;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Georgia', sans-serif;
}
.navbar-inverse {
    background-color: #343c27;
    background-image: url("fon2.gif");
}
#page {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e0c6;
    color: #443a08;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
}
blockquote {
    border-left-color: #443a08;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted gray;
}
.img-thumbnail {
    border-color: #c4bfa2;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: #c7c080;
}