/*! pv-rehau !*/
// -- A-6214 --
.jsontable-input {
  margin-top: 20px;
}
.tab-pane {
  h2 {
    display: none;
  }
}
.order-term {
  cursor: pointer;
  display: inline-block;
  padding-bottom: 7px;
}
td .order-term {
  padding-bottom: 0;
}
.popover-title {
  background-color: #dddddd;
  font-weight: bold;
  color: #000;
}
.popover-content {
  /*font-size: 10px;*/
}
#product-info {
  .price-wrap-input {
    .actual-price {
      font-family: 'Arial',sans-serif;
      font-size: 2.25rem;
      font-weight: bold;
      letter-spacing: .4px;
      color: #d13d73;
    }
    .about-increment {
      display: none;
      color: #d13d73;
      font-size: 110%;
      &:before{
        content: '/ за отрезок ';
      }
      &:after{
        content: ' м';
      }
    }
  }
}

.checkout-input {
  .productPrice__buttonWrapper {
    display: block !important;
    width: 110px;
  }
}

.jsontable-input {
  th,td {
    vertical-align: middle !important;
  }
  .productPrice__buttonWrapper {
    display: block !important;
  }
  .char-table__product-price {
    font-size: 1rem;
    color: #d13d73;
    font-family: 'HeliosCond',sans-serif;
    font-weight: bold;
  }
  .char-table__product-buy {
    form {
      margin: 5px 0;
      margin-right: 0;
    }
  }
  .char-table__product-thumb {
    padding-right: 0;
    padding-top: 11px;
    img {
      padding-right: 0;
      margin-right: 0;
      border:1px solid #ccc;
    }
  }
  .char-table__product-name {
    font-weight: bold;
    font-size: 14px;
  }
}

.tab-content {
  //width: 102%;
}

.toright {
  .view__icon {
    margin-right: 0 !important;
  }
}

// -- A-6214 --
// -- A-6212 ---
.rehau-grid-mode {
  margin-left: 0 !important;
  .masonry-grid-item {
    //margin-right: 19.25px;
    margin-right: 18px;
  }
  &.subcategories {
    .masonry-grid-item {
      max-width: 271px;
    }
  }
}
.catalog-category-view .listing-item,
.catalogsearch-result-index .listing-item{
  position: static !important;
}
.catalog-category-view .masonry-grid-item:nth-child(4n),
.catalogsearch-result-index .masonry-grid-item:nth-child(4n) {
  margin-right: 18.5px;
}
.listing-item .elements-list .price {
  overflow: hidden !important;
  max-height: 26px !important;
}
// -- A-6212 ---

.pv_header_fullwidth {
  width: 100% !important;
  background-color: white;
  position: static !important;
  transform: none !important;
  top: 0 !important;
  right: 0 !important;
  .header__container {
    box-shadow: none !important;
  }
}

.modal-open {
  padding-right: 0 !important;
}
.alert-saved {
  top: 15% !important;
  .modal-content {
    border-radius: 0 !important;
    border-color: #c7c7c7;
    .modal-body {
      padding: 10px;
      .alert-success {
        margin-bottom: 0;
        padding: 20px;
        font-size: 16px;
        .close {
          right: -5px
        }
      }
    }
  }
}

.pv-hint-search {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 20px 10px 0 0;
  line-height: 1.4;
  strong {
    font-weight: bold;
  }
  .description {}
  .symbol {
    button {
      min-height: 50px !important;
      font-size: 27px !important;
    }
  }
}

.popover-title {
  background-color: #777 !important;
}

@media (max-width: 768px) {
  .pv-hint-search {
    margin: 20px 0 15px 0;
  }
  #specifications-form {
    .specifications-form__input {
      width: 100% !important;
      padding-right: 10px;
    }
    .specifications-form__button {
      width: 25% !important;
      margin-top: 10px !important;
    }
  }
}