body {
    margin: 0;
    padding: 0;
    font: 16px Helvetica;
    background: #999999;
}
.wrap {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}
#page{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}
.indent{
    background-color: blue;
    flex: 1 6 10%;
    order: 1;
}
.main{
    background-color: #8a885f;
    flex: 3 1 90%;
    order: 2;
}
article{
    padding: 20px;
    background-color: #8888bb;
    height: 500px;
    flex-basis:660px;
    order: 1;
}
aside{
    padding: 20px;
    background-color: #443a08;
    height: 300px;
    flex-basis:200px;
    order: 2;
}

@media (max-width: 1280px) {
    body{
        background-color: red;
    }
    .indent {
        display: none;
    }
}