<form class="controls inline" novalidate="novalidate">
    <div id="address_id-cont" class="hidden c-input on" style="z-index: 30;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="address_id" type="text" name="address_id" placeholder="Address ID">
    </div>
    <div id="country_id-cont" class="hidden c-input on" style="z-index: 29;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="country_id" type="text" name="country_id" placeholder="Country Id">
    </div>
    <div id="geo_latitude-cont" class="hidden c-input on" style="z-index: 28;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="geo_latitude" type="text" name="geo_latitude" placeholder="Latitude"></div>
    <div id="geo_longitude-cont" class="hidden c-input on" style="z-index: 27;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="geo_longitude" type="text" name="geo_longitude" placeholder="Longitude">
    </div>
    <div id="country-cont" class="mini c-input on req" style="z-index: 26;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="country" type="text" name="country" placeholder="Your Country" autocomplete="off" required="required">
    </div>
    <div id="city-cont" class="mini c-input on req" style="z-index: 25;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="city" type="text" name="city" placeholder="Your City" autocomplete="off" required="required">
    </div>
    <div id="postcode-cont" class="mini c-input on" style="z-index: 24;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="postcode" type="text" name="postcode" placeholder="Postal Code" minlength="3" maxlength="8">
    </div>
    <div id="street-cont" class="c-input on req" style="z-index: 23;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="street" type="text" name="street" placeholder="Street Name" required="required" autocomplete="off">
    </div>
    <div id="house-cont" class="c-input on req" style="z-index: 22;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="house" type="text" name="house" placeholder="House" required="required" autocomplete="off">
    </div>
    <div id="office-cont" class="mini c-input on" style="z-index: 21;">
        <b class="fl" style="left: 10px;"></b>
        <span class="c-status"></span>
        <input id="office" type="text" name="office" placeholder="Apartments">
    </div>
    <div id="address-name-cont" class="prep c-input on valid">
        <b class="fl up" style="left: 10px;">Contact name</b>
        <span class="c-status"></span>
        <span class="addon"><i class="fa fa-user"></i></span>
        <input id="address-name" type="text" name="address-name" placeholder="Contact name" aria-invalid="false">
    </div>
    <div id="address-phone-cont" class="c-phone prep c-input on on-phone">
        <b class="fl up" style="left: 10px;">Contact phone</b>
        <span class="c-status"></span>
        <span class="addon"><i class="fa fa-phone"></i></span>
    </div>
    <div class="clear">
        <button type="button" id="btn-add-address" disabled="disabled" class="a-btn a-btn-success prep on">
            <span class="addon right">
                <i class="fa fa-save"></i>
            </span>
            Add Address
        </button>
        <span id="address-status" class="form-status status"></span>
    </div>
</form>