body{
    margin: 0;
    padding: 0;
}
.header{}
.footer{}
.page{}
.content{
    display: block;
    width: 660px;
    padding: 20px;
    line-height: 1.25;
}
.sidebar{
    position: fixed;
    left: 720px;
    top: 20px;
    width: 200px;
    font-size: 16px;
    height: 100%;
}
.logo{}
.menu{}
.clear{
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
}