@media (max-width: 1920px) {
    body{
        padding-left: 150px;
        background-color: #58562c;
        background-position: 1090px top, 150px top;
    }
    .sidebar{
        left: 870px;
    }
}
@media (max-width: 1680px) {
    body{
        padding-left: 70px;
        background-color: #58562c;
        background-position: 1010px top, 70px top;
    }
    .sidebar{
        left: 790px;
    }
}
@media (max-width: 1440px) {
    body{
        padding-left: 0px;
        background-color: #58562c;
        background-position: 940px top, left top;
    }
    .sidebar{
        left: 720px;
    }
}
@media (max-height: 768px) {
    .menu_sect{
        max-height:280px;
    }
}
@media (max-width: 768px) {
    body{
        padding:0 15px;
        font-size: 20px;
        background-color: #58562c;
        background: url('/images/bckgr-body.gif');
    }
    .content{
        width: auto;
        border-bottom: 2px dashed #b1ae83;
    }
    .sidebar{
        position: inherit;
        width: auto;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    body{
        padding:0 10px;
        font-size: 20px;
        background-color: #58562c;
        background: url('/images/bckgr-body.gif');
    }
    #page{
        width: auto;
        background: #878558 url('/images/inner-sidebar-light.gif');
        border-left: 2px dashed black;
        border-right: 2px dashed black;
    }
    .content{
        width: auto;
        border-bottom: 2px dashed #b1ae83;
    }
    .sidebar{
        position: inherit;
        width: auto;
        padding: 20px;
    }
}