body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #58562c;    
    background-image: url('../images/inner-rusemp-right.gif'), url('../images/bckgr-double.gif'), url('../images/bckgr-body.gif');
    background-repeat: no-repeat, repeat-y, repeat;
    background-position: 940px top, left top; 
    background-attachment: fixed;
}
ol.list {
    margin: 0;
    padding: 0;
    margin-left: 30px;
}
ol.list li {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    line-height: 1.1;
}
ul.multi li {
    margin-bottom: 10px;
}
ul.multi li ul li {
    list-style: none inside;
    margin: 0;
    margin-left: -25px;
    padding: 0;
    font-size: 15px;
    line-height: 1.4;
}
/*.wrap_to_original{
    border-top: 1px dashed gray;
    padding-top: 10px;
}
.wrap_to_original span{
    padding-bottom: 10px;
    color: #a70000;
}
.to_original{
    display: none;
}*/
ul.perepis_tabl{
    font-size: 17px;
    padding-left: 10px;
    margin-left: 10px;
}
.wrap_oblozhka{
    float: left;
    width: 320px;
    height: 500px;
    overflow: hidden;
    margin: 0 10px 10px 0;
    text-align: center;
}
.wrap_oblozhka a{
    display: block;
    border-bottom: none !important;
}
a.sdvig{
    display: block;
    margin-left: -45px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 660px;
}
tr.head{
  background: #ccc;
  background: url('../images/blockquote.gif');
  font-weight: bold;
}
.table {
  border-collapse: collapse !important;
}
.table td,
.table th {
  background-color: #fff !important;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #8a885f !important;
  padding: 7px;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
.tip-mobile{
    display: none;
    line-height: 1.1;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 4px;
    background: brown;
    color: white;
}
.feedback_wrap{
    width: 660px;
}
.feedback_wrap input, 
.feedback_wrap textarea{
    margin: 0;
}
.feedback_wrap .left50,
.feedback_wrap .textarea textarea,
.feedback_wrap .top input{
    padding: 4px;
    font-family: Arial, serif;
    font-size: 14px;
}
.feedback_wrap .top input{
    width: 99%;
}
.feedback_wrap .textarea{
    background: blue;
    padding: 0;
}
.feedback_wrap .textarea textarea{
    width: 98%;
    /*height: 50px;*/
}
.feedback_wrap .left50, 
.feedback_wrap .right50{
    float: left;
    width: 325px;
    padding: 0;
}
.feedback_wrap .right50{
    text-align: right;
}
.feedback_wrap .top,
.feedback_wrap .bottom{
    margin-bottom: 5px;
}
.feedback_wrap .bottom{
    background: red;
}
.feedback_wrap .captcha,
.feedback_wrap .buttons{
    float: left;
    width: 260px;
}

.img-left{
    display: block;
    float: left;
    margin: 0 10px 0 0;
}
.img-right{
    display: block;
    float: right;
    margin: 0 0 0 10px;
}
img {
  border: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  /*background-color: #ffffff;*/
  background: url('../images/blockquote.gif');
  border: 1px solid #999;
  /*border-radius: 4px;*/
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}

#index_page{ padding-bottom: 20px;}
#index_page img{max-width: 100%; height: auto;}
#index_page .about{line-height: 1.1; margin: 20px 10px; word-spacing: 3px; letter-spacing: 1px;}
#index_page .about:hover{color: white;}
#index_page a.main{ color: black;}
#index_page a.main:hover{ color: white;}

blockquote{
    background: url('../images/blockquote.gif');
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #c0bea1;
    border-left: 5px solid #c0bea1;
}
blockquote.linkorig{
    display: block;
    float: left;
    font-size: 13px;
    background: url('../images/blockquote.gif');
    margin: 0 7px 7px 0;
    padding: 3px 6px;
    border: 1px solid #c0bea1;
    border-left: 2px solid #c0bea1;
}
table#feedback{
    width: 650px;
    border-collapse: collapse;
}
table#feedback input, table#feedback textarea{
    padding: 5px;
    font-size: 14px;
    font-family: Arial, serif;
}
table#feedback td{
    padding: 2px;
}
table#feedback td.input{
    width: 325px;
}
table#feedback td.input input{
    margin: 0;
    width: 99%;
}
table#feedback textArea{
    margin: 0;
    width: 100%;
}
.menu_sect{
    width: 200px;
    max-height:620px;

    overflow-y: auto;
    overflow-x: no-display;
/*  overflow-x: auto;
  min-height: 0.01%;    */
    /*background: #ebebeb;*/
}
.menu_sect li {
    line-height: 1.1;
}
.index_menu{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.index_menu li{ 
    display: inline;
    margin: 0 10px;
}

.index_menu li.active a{
    color: black !important;
}
.index_menu a{
    color: #c0be98 !important;
}
.index_menu a:hover {
    color: white !important;
}
#page{}
h1{
    margin-top: 0;
    padding-top: 0;
    /*margin-bottom: 15px;*/
    line-height: 1.2;
}
h2{
    line-height: 1.2;
    font-size: 20px;
    color: #646236;
    font-style: italic;
    padding: 0;
    margin: 35px 0 -13px 0;     
}
h2.publ{
    line-height: 1.1;
    font-size: 19px;
    color: #8e8c6b;
    font-style: normal;
    padding: 0;
    margin: 0px 0 20px;     
}
h3{
    line-height: 1.2;
    font-size: 17px;
    color: #747047;
    font-style: italic;
}
.clear{
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
}
.content{
    width: 660px;
    padding: 20px;
    background: #d5d4b6 url('../images/inner-content.gif');
    background-attachment: fixed;
    line-height: 1.25;
    /*word-spacing: 3px;*/
}
.content a{
    color: brown;
    text-decoration: none;
    border-bottom: 1px dashed brown;
}
.content a:hover{
    border-bottom: none;
}
.sidebar{
    position: fixed;
    left: 720px;
    top: 20px;       
    width: 200px;            
    font-weight: bold;
    font-size: 16px;
    height: 100%;
}
.sidebar a, .copy a, .index_menu a{
    color: black;
}
.sidebar a:hover, .copy a:hover{
    color: brown;
}
.copy{
    position: absolute;
    left: 0px;
    bottom: 40px;        
    width: 200px;            
    font-size: 14px;
}
.partner-link{
    position: absolute;
    left: 0px;
    bottom: 90px;        
    width: 200px;            
    font-size: 14px;
}
ul.link_pub{
    margin: 0;
    padding: 0;
    list-style: inside none;
}
ul.link_pub li{
    display: block;
    background: url('../images/blockquote.gif');
    margin: 0 0 8px 0;
    padding: 10px;
    border: 1px solid #c0bea1;
    border-left: 5px solid #c0bea1;    
}
ul.menu{
    margin: 0;
    padding: 0;
    list-style: inside none;
}
ul.menu li{
    margin-bottom: 5px;
}
ul.menu li.header{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
    color: #58562c;
}
ul.menu li.header_perepis{
    text-transform: uppercase;
    margin: 15px 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: #58562c;
}
ul.menu li.unready a,
ul.menu li.unready{
    font-weight: normal !important;
    font-size: 13px !important;
    color: #757454;
}
ul.menu li.coming_soon{
    font-size: 12px;
    font-weight: normal;
    cursor:  help;
}
ul.menu li.coming_soon:hover{
    color: brown;
}
ul.menu li.divide{
    /*border-top: 1px dashed #8a885f;*/
/*    font-size: 0;
    line-height: 0;
    display: block;*/
    margin: 5px 0;
}
ul.menu li.active a{
    color: brown;
}
.mobile-rusemp{
    display: none;
}
.mobile-rusemp img{
    width: 100%;
}

.break-light{
    font-size: 0;
    line-height: 0;
    height: 0;
    margin: 15px 0;
    border-top: 1px dashed #8a885f;
}