@media (max-width: 1920px) {
    body{
        padding-left: 150px;
        background-color: #58562c;
        background-position: 1090px top, 150px top;
    }
    .sidebar{
        left: 870px;
    }
}
@media (max-width: 1680px) {
    body{
        padding-left: 70px;
        background-color: #58562c;
        background-position: 1010px top, 70px top;
    }
    .sidebar{
        left: 790px;
    }
}
@media (max-width: 1440px) {
    body{
        padding-left: 0px;
        background-color: #58562c;
        background-position: 940px top, left top;
    }
    .sidebar{
        left: 720px;
    }
}
@media (max-height: 768px) {
    .menu_sect{
        max-height:280px;
    }
}
@media (max-width: 1280px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {
    
    .wrap_panel {
        width: 100%;
    }
    .wrap_img_body img {
        display: block;
        width: 100%;
        height: auto;
    }  
/*.wrap_img_body {
    overflow: hidden;
    border: 1px solid #c0bea1;
    height: 300px;
}    */
    
    .wrap_oblozhka{
        float: none;
        width: auto;
        height: auto;
        overflow: hidden;
        margin: 0 0px 10px 0;
        text-align: center;
    }
    #wrap_perepis{
        width: auto;
        overflow: hidden;
    }    
    a.sdvig{
        width: auto;
        height: auto;
        overflow: hidden;        
    }    
    .wrap_oblozhka img{
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }    
    
    .tip-mobile{
        display: block;
    }
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }    
    body{
        padding:0 15px;
        font-size: 20px;
        background-color: #58562c;
        background: url('/images/bckgr-body.gif');
    }      
    #page{
        width: auto;
        background: #878558 url('/images/inner-sidebar-light.gif');
        border-left: 2px dashed black;
        border-right: 2px dashed black;
    }
    .content{
        width: auto;
        border-bottom: 2px dashed #b1ae83;
    } 
    .content h1{
        max-width: 100%;
        overflow: hidden;
    }
    .content img{
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }    
    .sidebar{ 
        position: inherit;
        width: auto;
        padding: 20px;
    }
    .copy{           
        position: inherit;
        width: auto;
    } 
    .partner-link{           
        position: inherit;
        width: auto;
    }     
    .mobile-rusemp{
        display: block;
    }
    .mobile-rusemp img{
        width: 50%;
    }
    .img-left, .img-right{
        display: block;
        float: none;
        margin: 10px 0;
    }    
}
@media (max-width: 480px) {
    body{
        padding:0 10px;
        font-size: 20px;
        background-color: #58562c;
        background: url('/images/bckgr-body.gif');
    }
    #wrap_perepis{
        width: auto;
        overflow: hidden;
    }
    .wrap_oblozhka{
        float: none;
        width: auto;
        height: auto;
        overflow: hidden;
        margin: 0 0px 10px 0;
        text-align: center;
    }
    a.sdvig{
        width: auto;
        height: auto;
        overflow: hidden;        
    }
    .wrap_oblozhka img{
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
    #page{
        width: auto;
        background: #878558 url('/images/inner-sidebar-light.gif');
        border-left: 2px dashed black;
        border-right: 2px dashed black;
    }
    .content{
        width: auto;
        border-bottom: 2px dashed #b1ae83;
    }
    .content h1{
        max-width: 100%;
        overflow: hidden;
    }
    .content img{
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
    .sidebar{ 
        position: inherit;
        width: auto;
        padding: 20px;
    }
    .copy{           
        position: inherit;
        width: auto;
    }  
    .partner-link{           
        position: inherit;
        width: auto;
    }     
    .mobile-rusemp{
        display: block;
    }
    .mobile-rusemp img{
        width: 75%;
    } 
    .img-left, .img-right{
        display: block;
        float: none;
        margin: 10px 0;
    }    
}